<div id="sec3">
    <section id="services" class="bg-light">
      <div class="container">
          <div class="text-center pt-5">
              <h2 class="display-4 pt-5">Portfolio</h2>
          </div>
          <div class="row">
              <div class="col-lg-4 mb-4">
                  <div class="card text-center p-5 mb-2">
                      <h5 class="card-title">Web Design</h5>
                  </div>
              </div>
              <div class="col-lg-4 mb-4">
                  <div class="card text-center p-5 mb-2">
                      <h5 class="card-title">Mobile Design</h5>
                  </div>
              </div>
              <div class="col-lg-4 mb-4">
                  <div class="card text-center p-5 mb-2">
                      <h5 class="card-title">Logo Design</h5>
                  </div>
              </div>
              <div class="col-lg-4 mb-4">
                  <div class="card text-center p-5 mb-2">
                      <h5 class="card-title">Web Application Development</h5>
                  </div>
              </div>
              <div class="col-lg-4 mb-4">
                  <div class="card text-center p-5 mb-2">
                      <h5 class="card-title">Mobile Application Development</h5>
                  </div>
              </div>
              <div class="col-lg-4 mb-4">
                  <div class="card text-center p-5 mb-2">
                      <h5 class="card-title">PWA Development</h5>
                  </div>
              </div>
          </div>
      </div>
    </section>
</div>