.skill {
    margin: 20px;
    text-align: center;
  }

.progress{
    width: 50%;
    height: 20px;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    margin: 5px;
    background-color: red;
    display:inline-block;
}
