<div class="container">
    <div class="row">
        @for(product of products; track product.id ){
            <div class="col-md">
                <div class="card" (click)="movetodetailspage(product.id)">
                    <div class="container" >
                  <img [src]="product.images[0]" class="card-img-top" alt="...">
                  <span class="ml-2 text-overlay" [style.color]="product.stock > 0 ? 'green' : 'red'" [style.background-color]="product.stock > 0 ? 'lightgreen' : 'lightcoral'">
                  
                    {{ product.stock > 0 ? 'In Stock' : 'Out of Stock' }}
                  </span>
                  </div>
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h6 class="card-title">{{product.title}}</h6>        
                    </div>
                    
                    <p>{{product.description}}</p>
                    <div class="card-text mb-2" style="display: inline-block;" *ngFor="let i of [1,2,3,4,5]">
                        @if(i <= product.rating){ <i class="fa fa-star floating"></i>
                            }@else{
                            <i class="fa fa-star notrated" aria-hidden="true"></i>
                            }
                    </div>
                      
                    <hr>
                    <p class="price">{{product.price}} EGP</p>
                    
                    </div>
                            <button class="btn btn-outline-success" type="button">Add To Cart</button>
                    </div>
            </div>
        }
    </div>
</div>

