<div id="sec2">
    <section id="about" class="bg-ligth">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 spacing">
                    <!-- <img [src]="image" alt="" class=":img-fluid img-hero"> -->
                    <h1>About Me</h1>
                </div>
                <div class="col-lg-6">
                    <h2 class="display-4">Hi, My Name is {{username}}</h2>
                    <p class="lead">{{info}}</p>
                </div>
            </div>
        </div>
    </section>
</div>