<!-- <div class="container-fluid">
  <span class="navbar-brand">Check Our Sale</span>
<ul>
  
    <li class="nav-item">
      <a class="nav-link" routerLink="login" routerLinkActive="active_link">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="register" routerLinkActive="active_link">Register</a>
    </li>
    <li class="nav-item" routerLink="card" routerLinkActive="active_link">
        <i class="fas fa-shopping-cart"></i>
    </li>
  </ul>
  </div> -->

  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-primary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand">Shop Now With Us!</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="login" routerLinkActive="active_link">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" routerLinkActive="active_link">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active_link">Home</a>
          </li>
          <li class="nav-item" routerLink="cart" routerLinkActive="active_link">
            <i class="fas fa-shopping-cart" routerLinkActive="active_link"></i>
        </li>
        </ul>
      </div>
    </div>
  </nav>