<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 custom-col">
                <h1 class="display-3">
                    {{username}}
                </h1>
                <p class="lead">ITI Trainee.</p>
                <div class="d-flex">
                    <a href="#portfolio" class="btn btn-outline-dark mr-3 p-2" id="contact" (click)="contact()">Contact Me</a>

                </div>
            </div>
        </div>
    </div>
  </section>